.box {
    margin: auto;
    width: 800px;
    height: 2000px;
    padding-top: 20px;
    padding-left: 30px;
    border: solid rgba(139, 139, 139, 0.404);
    border-radius: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

b {
    font-size: xx-large;
}

h2 {
    font-size: medium;
}

.column {
    float: left;
    width: 185px;
}

.columnEstado {
    float: left;
    padding-left: 160px;
    width: 230px;
}

.columnCEP {
    float: left;
    padding-left: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.caixaTexto0 {
    width: 165px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(139, 139, 139);
}

.caixaTexto1 {
    width: 585px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(139, 139, 139);
}

.caixaTexto2 {
    width: 770px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(139, 139, 139);

}

.caixaTextoCidade {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(139, 139, 139);
}

.caixaTextoEstado {
    width: 235px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(139, 139, 139);
}
