.box {
    margin: auto;
    width: 800px;
    padding-top: 20px;
    padding-left: 30px;
    border: solid rgba(0, 0, 0, 0.829);
    border-radius: 2%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/imagemFundo.jpg) ; 
    background-size:100%;
}

b {
    font-size: xx-large;
}


h2 {
    font-size: medium;
}

.b{
    font-size: 20px;
    color: rgb(243, 243, 243);
}

.column {
    float: left;
    width: 185px;
}

.columnEstado {
    float: left;
    padding-left: 160px;
    width: 230px;
}

.columnCEP {
    float: left;
    padding-left: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.Caixa-Texto-N-OS{
    width: 165px;
    height: 40px;
    border-radius: 5px;
    border: solid rgba(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Texto-Numero-Casa{
    width: 165px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Texto-CEP{
    width: 165px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Texto-Bairro {
    width: 585px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Texto-Nome-Prestador {
    width: 770px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Texto-Endereco {
    width: 770px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Texto-Cliente {
    width: 770px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Texto-Cidade {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Texto-Telefone {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Texto-CPF-CNPJ {
    width: 7px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Texto-Estado {
    width: 245px;
    height: 48px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Texto-Observacao {
    width: 770px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Texto-Descricao {
    width: 770px;
    height: 100px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}
.Caixa-Texto-Servico {
    width: 770px;
    height: 100px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Caixa-Data{
    width: 165px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}
.Caixa-Hora {
    width: 165px;
    height: 40px;
    border-radius: 5px;
    border: solid rgb(27, 27, 27, 0.836);
    font-size: 17px;
}

.Botao-GerarOS{
    width: 175px;
    height: 60px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}

